<!--static is a templatetag that loads all static files 
throughout application. It's url path is in setting.py of the
project -->
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo Lists</title>
</head>

<body>
  <header>
    <nav>
      {% if user.is_authenticated %}
      <li class='nav-item'>
        <a href="{%url 'home'%}">Receipts</a>
      <li class="nav-item">
        <a href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{% url 'signup' %}">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'login' %}">Login</a>
      </li>
      </li>
      {%endif%}
    </nav>
  </header>
  <main>
    <!--make sure you alway have these because this is 
    what allows the HTTP request to navigate to the sign up 
    and log out pages  -->
    {% block content %}
    {% endblock content %}
  </main>
</body>

</html>