{% extends 'base.html' %}

{% block content %}
<div class="narrow-form">
    <h1>Let's Sign Up!</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button style=background-color:lightskyblue>Sign Up</button>
    </form>
</div>
{% endblock content %}